<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /GAME/public/
    
    # Rediriger les demandes non-fichier et non-dossier vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
